body {
    background-color: rgb(232, 238, 238);
}

.heading{
    font-size: 40px;
    color: rgb(72, 65, 163);
}

.text{
    size: 50px;
    color: rgb(97, 72, 143);
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.convert{
    display: flex;
    justify-content: center;
   
}

.convertButton{
   color: rgb(130, 111, 167);
}





